server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: ${ALLOWED_ORIGINS:https://task-sphere-d.vercel.app/}
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600

      routes:
        - id: user-service
          uri: https://tasksphere-d.onrender.com
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1

        - id: auth-service
          uri: https://tasksphere-d.onrender.com
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0

        - id: task-service
          uri: https://tasksphere-d-tasksphere.onrender.com
          predicates:
            - Path=/api/tasks/**
          filters:
            - StripPrefix=1

jwt:
  secret: ${JWT_SECRET}
  issuer: ${JWT_ISSUER}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: INFO
    com.mit.tasksphere: INFO

resilience4j:
  circuitbreaker:
    instances:
      defaultCircuitBreaker:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30s
